<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <accessRights>
      <rights>
        <add patch:before="add[@name='*']" name="item:checkin" comment="The right to unlock an item." title="Item Unlock" modifiesData="true"/>
      </rights>
    </accessRights>
    <commands>
      <command name="item:checkin">
        <patch:attribute name="type">Sitecore.Sharedsource.Shell.Framework.Commands.CheckIn,Helixbase.Feature.Security</patch:attribute>
      </command>
      <command name="contenteditor:edit">
        <patch:attribute name="type">Sitecore.Sharedsource.Shell.Framework.Commands.ContentEditor.Edit,Helixbase.Feature.Security</patch:attribute>
      </command>
    </commands>
    <pipelines>
      <getContentEditorWarnings>
        <processor type="Sitecore.Pipelines.GetContentEditorWarnings.IsLocked, Sitecore.Kernel">
          <patch:attribute name="type">Helixbase.Feature.Security.Pipelines.GetContentEditorWarnings.IsLocked,Helixbase.Feature.Security</patch:attribute>
        </processor>
      </getContentEditorWarnings>
    </pipelines>
  </sitecore>
</configuration>