<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sc.variable name="sourceFolder" value="C:\projects\Helix base\src" />
    <sites>
      <site name="helixbase">
        <patch:attribute name="database">master</patch:attribute>
      </site>
    </sites>
  </sitecore>
</configuration>
