<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <settings>
      <!-- SITECORE LOADBALANCING ENABLED
            Default value: true
            -->
      <setting name="Sitecore.LoadBalancing.Enabled" value="true" />
      <!-- SITECORE LOADBALANCING HOSTHEADER
            Defines the value indicating from which request header the host should be taken during the SSL offloading
            Default value: X-FORWARDED-HOST
            -->
      <setting name="Sitecore.LoadBalancing.HostHeader" value="X-FORWARDED-HOST" />
      <!-- SITECORE LOADBALANCING SCHEMEHEADER
            Defines the value indicating from which request header the scheme should be taken during the SSL offloading
            Default value: X-FORWARDED-PROTO
            -->
      <setting name="Sitecore.LoadBalancing.SchemeHeader" value="X-FORWARDED-PROTO" />
      <!-- SITECORE LOADBALANCING PORTHEADER
            Defines the value indicating from which request header the port should be taken during the SSL offloading
            Default value: X-FORWARDED-PORT
            -->
      <setting name="Sitecore.LoadBalancing.PortHeader" value="X-FORWARDED-PORT" />
    </settings>
  </sitecore>
</configuration>
