<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <!-- remove any machine-wide sources with <clear/> -->
    <clear />
    <add key="Nuget v2" value="https://www.nuget.org/api/v2/" />
    <add key="Nuget v3" value="https://api.nuget.org/v3/index.json" />
    <add key="Sitecore Feed" value="https://sitecore.myget.org/F/sc-packages/api/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>