<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="(Standalone or ContentManagement) and Docker">
		<hooks>
			<hook type="Sitecore.Diagnostics.HealthMonitorHook, Sitecore.Kernel">
				<patch:delete />
			</hook>
			<hook type="Sitecore.Diagnostics.MemoryMonitorHook, Sitecore.Kernel">
				<patch:delete />
			</hook>
		</hooks>
		<pipelines>
			<contentSearch.queryWarmup patch:source="Sitecore.ContentSearch.config">
				<processor type="Sitecore.ContentSearch.Pipelines.QueryWarmups.RunQueries, Sitecore.ContentSearch">
					<patch:delete />
				</processor>
			</contentSearch.queryWarmup>
			<initialize>
				<processor type="Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel">
					<patch:delete />
				</processor>
				<processor type="Sitecore.Pipelines.Loader.ShowHistory, Sitecore.Kernel">
					<patch:delete />
				</processor>
				<!-- Disable speak precompilations; this increases first hit dialog load time but incrementally reduces instance startup time after a compile -->
				<processor type="Sitecore.Pipelines.Initialize.PrecompileSpeakViews, Sitecore.Speak.Web">
					<patch:delete />
				</processor>
				<processor type="Sitecore.Speak.Components.Pipelines.Initialize.PrecompileSpeakBclViews, Sitecore.Speak.Components.Web">
					<patch:delete />
				</processor>
				<processor type="Sitecore.Pipelines.Loader.DumpConfigurationFiles, Sitecore.Kernel">
					<patch:delete />
				</processor>
			</initialize>
		</pipelines>
		<settings>
			<setting name="Counters.Enabled">
				<!-- disable perf counters for a performance boost -->
				<patch:attribute name="value">false</patch:attribute>
			</setting>
		</settings>
		<scheduling>
			<agent type="Sitecore.Tasks.CounterDumpAgent">
				<patch:delete />
			</agent>
		</scheduling>
	</sitecore>
</configuration>