<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="~/css/helixbase.css">
</head>
<body>
    @RenderBody()
    <script src="~/js/helixbase.js"></script>
</body>
</html>
