<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <accessRights>
      <rights>
        <add patch:before="add[@name='*']" name="item:checkin" comment="The right to unlock an item." title="Item Unlock" modifiesData="true" />
      </rights>
    </accessRights>
    <commands>
      <command name="contenteditor:edit">
        <patch:attribute name="type">Helixbase.Foundation.Extensions.Commands.ContentEditor.Edit, Helixbase.Foundation.Extensions</patch:attribute>
      </command>
      <command name="item:checkin">
        <patch:attribute name="type">Helixbase.Foundation.Extensions.Commands.Item.CheckIn, Helixbase.Foundation.Extensions</patch:attribute>
      </command>
    </commands>
    <pipelines>
      <getContentEditorWarnings>
        <processor type="Sitecore.Pipelines.GetContentEditorWarnings.IsLocked, Sitecore.Kernel">
          <patch:attribute name="type">Helixbase.Foundation.Extensions.Pipelines.GetContentEditorWarnings.IsLocked, Helixbase.Foundation.Extensions</patch:attribute>
        </processor>
      </getContentEditorWarnings>
    </pipelines>
  </sitecore>
</configuration>
