@model Helixbase.Foundation.Core.ViewModels.MessageViewModel

@if (Model.IsExperienceEditor)
{
    <div class="ee-message error">
        <h5>@Model.Title</h5>
        <p>@Model.Message</p>
    </div>
}