<!--
	Unicorn.Configs.Default.config

	This is an example of how to configure a basic Unicorn configuration using your own config patch file.
	Copy this file to use as a basis for your own configuration definitions.

	Enabled configuration definition patches should be present on all environments Unicorn is present on.

	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration
          name="Project.Helixbase"
          description="Helixbase site content"
          dependencies="Foundation.*,Feature.*,Project.Common"
          patch:after="configuration[@name='Foundation.Serialization']"
          extends="Helix.Feature.Base">
          <predicate>
            <include name="$(layer).$(module).Templates" database="master" path="/sitecore/templates/$(layer)/$(module)" />
            <include name="$(layer).$(module).Renderings" database="master" path="/sitecore/layout/renderings/$(layer)/$(module)" />
            <include name="$(layer).$(module).Layouts" database="master" path="/sitecore/layout/layouts/$(layer)/$(module)" />
            <include name="$(layer).$(module).PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/$(layer)/$(module)" />
            <include name="$(layer).$(module).Models" database="master" path="/sitecore/layout/models/$(layer)/$(module)" />
            <include name="$(layer).$(module).Content" database="master" path="/sitecore/content/Helixbase"/>
            <include name="$(layer).$(module).Media" database="master" path="/sitecore/media library/$(layer)/$(module)"/>
            <include name="$(layer).$(module).Profiling" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/Helixbase"/>
            <include name="$(layer).$(module).Outcomes" database="master" path="/sitecore/system/Marketing Control Panel/Outcomes/Helixbase"/>
            <include name="$(layer).$(module).Campaigns" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/Helixbase"/>
          </predicate>
          <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\$(layer).$(module).Roles" singleInstance="true"/>
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="helixbase" pattern="^Project Helixbase .*$" />
          </rolePredicate>
          <userDataStore type="Unicorn.Users.Data.FilesystemUserDataStore, Unicorn.Users" physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\$(layer).$(module).Users" singleInstance="true"/>
          <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
            <include domain="helixbase" pattern="^((?!Anonymous).)*$" />
          </userPredicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
