<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone">
    <sites>
      <site name="helixbase">
        <patch:attribute name="database">master</patch:attribute>
      </site>
    </sites>
    <settings>
      <!--  https://kamsar.net/index.php/2016/09/Precompiled-Views-with-Sitecore-8-2/
        MVC: Flag for controlling whether Razor View Engine will look at physical view last modified dates 
        when determining to use a view file from a pre-compiled assembly or from the file system.
        Default: "false"
        -->
      <setting name="Mvc.UsePhysicalViewsIfNewer" value="True" />
    </settings>
  </sitecore>
</configuration>
