<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.Helixbase" description="Helixbase site content" dependencies="Foundation.Serialization,Feature.Hero,Project.Common" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\project\helixbase\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Project.Helixbase.Templates" database="master" path="/sitecore/templates/Project/Helixbase" />
            <include name="Project.Helixbase.Renderings" database="master" path="/sitecore/layout/renderings/Project/Helixbase" />
            <include name="Project.Helixbase.Layouts" database="master" path="/sitecore/layout/layouts/Project/Helixbase" />
            <include name="Project.Helixbase.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/Helixbase" />
            <include name="Project.Helixbase.Models" database="master" path="/sitecore/layout/models/Project/Helixbase" />
            <include name="Project.Helixbase.Content" database="master" path="/sitecore/content/Helixbase"/>
            <include name="Project.Helixbase.Media" database="master" path="/sitecore/media library/Project/Helixbase"/>
            <include name="Project.Helixbase.Profiling" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/Helixbase"/>
            <include name="Project.Helixbase.Outcomes" database="master" path="/sitecore/system/Marketing Control Panel/Outcomes/Helixbase"/>
            <include name="Project.Helixbase.EngagementPlans" database="master" path="/sitecore/system/Marketing Control Panel/Engagement Plans/Helixbase"/>
            <include name="Project.Helixbase.Campaigns" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/Helixbase"/>
            <include name="Project.Helixbase.Goals" database="master" path="/sitecore/system/Marketing Control Panel/Goals/Helixbase"/>
            <include name="Project.Helixbase.Lists" database="master" path="/sitecore/system/List Manager/All Lists/Helixbase"/>
            <include name="Project.Helixbase.Social.Accounts" database="master" path="/sitecore/system/Social/Accounts/Helixbase"/>
            <include name="Project.Helixbase.Social.Applications" database="master" path="/sitecore/system/Social/Applications/Default/Helixbase"/>
            <include name="Project.Helixbase.Social.Klout" database="master" path="/sitecore/system/Social/Klout/Applications/Default/Helixbase"/>
          </predicate>
          <!--<roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\project\helixbase\serialization\Project.Helixbase.Roles" singleInstance="true"/>
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="helixbase" pattern="^Project Helixbase .*$" />
          </rolePredicate>
          <userDataStore type="Unicorn.Users.Data.FilesystemUserDataStore, Unicorn.Users" physicalRootPath="$(sourceFolder)\project\helixbase\serialization\Project.Helixbase.Users" singleInstance="true"/>
          <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
            <include domain="helixbase" pattern="^((?!Anonymous).)*$" />
          </userPredicate>-->
          <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="false" updateSearchIndex="true" maxConcurrency="1" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>