<!--
	Unicorn.Configs.Default.config

	This is an example of how to configure a basic Unicorn configuration using your own config patch file.
	Copy this file to use as a basis for your own configuration definitions.

	Enabled configuration definition patches should be present on all environments Unicorn is present on.

	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration
          name="Project.Helixbase"
          description="Helixbase site content"
          dependencies="Foundation.*,Feature.*,Project.Common"
          patch:after="configuration[@name='Foundation.Serialization']"
          extends="Helix.Feature.Base">
          <predicate>
            <include name="Project.Helixbase.Templates" database="master" path="/sitecore/templates/Project/Helixbase" />
            <include name="Project.Helixbase.Renderings" database="master" path="/sitecore/layout/renderings/Project/Helixbase" />
            <include name="Project.Helixbase.Layouts" database="master" path="/sitecore/layout/layouts/Project/Helixbase" />
            <include name="Project.Helixbase.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/Helixbase" />
            <include name="Project.Helixbase.Models" database="master" path="/sitecore/layout/models/Project/Helixbase" />
            <include name="Project.Helixbase.Content" database="master" path="/sitecore/content/Helixbase"/>
            <include name="Project.Helixbase.Media" database="master" path="/sitecore/media library/Project/Helixbase"/>
            <include name="Project.Helixbase.Profiling" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/Helixbase"/>
            <include name="Project.Helixbase.Outcomes" database="master" path="/sitecore/system/Marketing Control Panel/Outcomes/Helixbase"/>
            <include name="Project.Helixbase.Campaigns" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/Helixbase"/>
          </predicate>
          <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\project\helixbase\serialization\Project.Helixbase.Roles" singleInstance="true"/>
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="helixbase" pattern="^Project Helixbase .*$" />
          </rolePredicate>
          <userDataStore type="Unicorn.Users.Data.FilesystemUserDataStore, Unicorn.Users" physicalRootPath="$(sourceFolder)\project\helixbase\serialization\Project.Helixbase.Users" singleInstance="true"/>
          <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
            <include domain="helixbase" pattern="^((?!Anonymous).)*$" />
          </userPredicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>