<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="publish:end">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site hint="helixbase">helixbase</site>
          </sites>
        </handler>
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site hint="helixbase">helixbase</site>
          </sites>
        </handler>
      </event>
    </events>
    <sites>
      <site name="helixbase" patch:after="site[@name='modules_website']" targetHostName="demo.$(rootHostName)" enableTracking="true" virtualFolder="/" physicalFolder="/" rootPath="/sitecore/content/helixbase" dictionaryDomain="{8AC9D0C5-F969-4CFD-B0B3-4554638069A7}" startItem="/home" database="web" domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="50MB" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="25MB" filteredItemsCacheSize="10MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false" cacheRenderingParameters="true" renderingParametersCacheSize="10MB" language="en" patch:source="Sitecore.LanguageFallback.config" itemwebapi.mode="Off" itemwebapi.access="ReadOnly" itemwebapi.allowanonymousaccess="false" enableItemLanguageFallback="false" enableFieldLanguageFallback="false"/>
    </sites>
    <settings>
      <setting name="Preview.DefaultSite">
        <patch:attribute name="value" value="helixbase" />
      </setting>
      <setting name="Login.BackgroundImageUrl" value="login/Helixbase_Wallpaper.jpg" />
      <setting name="Login.DisableLicenseInfo" value="false" />
    </settings>
  </sitecore>
</configuration>
