<!--
	Unicorn.Configs.Default.config

	This is an example of how to configure a basic Unicorn configuration using your own config patch file.
	Copy this file to use as a basis for your own configuration definitions.

	Enabled configuration definition patches should be present on all environments Unicorn is present on.

	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration
          name="Foundation.Serialization"
          description="Root items"
          extends="Helix.Feature.Base">
          <predicate>
            <!-- Settings -->
            <include name="$(layer).$(module).Settings.Feature" database="master" path="/sitecore/system/Settings/Feature">
              <exclude children="true" />
            </include>
            <include name="$(layer).$(module).Settings.Foundation" database="master" path="/sitecore/system/Settings/Foundation">
              <exclude children="true" />
            </include>
            <include name="$(layer).$(module).Settings.Project" database="master" path="/sitecore/system/Settings/Project">
              <exclude children="true" />
            </include>

            <!-- Media -->
            <include name="$(layer).$(module).Media.Feature" database="master" path="/sitecore/media library/Feature">
              <exclude children="true" />
            </include>
            <include name="$(layer).$(module).Media.Project" database="master" path="/sitecore/media library/Project">
              <exclude children="true" />
            </include>

            <!-- Core templates -->
            <include name="$(layer).Core.Templates.Feature" database="core" path="/sitecore/templates/Feature">
              <exclude children="true" />
            </include>
            <include name="$(layer).Core.Templates.Foundation" database="core" path="/sitecore/templates/Foundation">
              <exclude children="true" />
            </include>
            <include name="$(layer).Core.Templates.Project" database="core" path="/sitecore/templates/Project">
              <exclude children="true" />
            </include>

            <!-- Custom Experience Buttons -->
            <include name="$(layer).$(module).ExpButtons.Feature" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/Feature">
              <exclude children="true" />
            </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>