@using Sitecore.Mvc
@* @using Sitecore.Mvc.Analytics.Extensions *@
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Html.Sitecore().Field("title", new { DisableWebEdit = true })</title>
    @* @Html.Sitecore().VisitorIdentification() *@
    <script type="text/javascript" src="~/Scripts/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
</head>
<body>
    <header>
        <h1>@Html.Sitecore().Field("title")</h1>
    </header>
    <main>
        @Html.Sitecore().Placeholder("main")
    </main>
</body>
</html>