<!--
	Unicorn.Configs.Default.config

	This is an example of how to configure a basic Unicorn configuration using your own config patch file.
	Copy this file to use as a basis for your own configuration definitions.

	Enabled configuration definition patches should be present on all environments Unicorn is present on.

	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration
          name="Feature.Hero"
          description="Feature Hero"
          dependencies="Foundation.*"
          patch:after="configuration[@name='Foundation.Serialization']"
          extends="Helix.Feature.Base">
          <predicate>
            <include name="Feature.Hero.Templates" database="master" path="/sitecore/templates/Feature/Hero" />
            <include name="Feature.Hero.Renderings" database="master" path="/sitecore/layout/renderings/Feature/Hero" />
            <include name="Feature.Hero.Media" database="master" path="/sitecore/media library/Feature/Hero" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>