<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <unicornControlPanelRequest>
        <processor
          patch:instead="processor[@type='Unicorn.ControlPanel.Pipelines.UnicornControlPanelRequest.SyncVerb, Unicorn']"
          type="Helixbase.Feature.Fun.Unicorn.Pipelines.SyncVerbFun, Helixbase.Feature.Fun" />
      </unicornControlPanelRequest>
    </pipelines>
  </sitecore>
</configuration>