<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.Common" description="Common content and settings" dependencies="Foundation.Serialization,Foundation.Redirects,Feature.Hero" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\project\common\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Project.Common.Templates" database="master" path="/sitecore/templates/Project/Common" />
            <include name="Project.Common.Renderings" database="master" path="/sitecore/layout/renderings/Project/Common" />
            <include name="Project.Common.Layouts" database="master" path="/sitecore/layout/layouts/Project/Common" />
            <include name="Project.Common.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/Common" />
            <include name="Project.Common.UserProfiles" database="core" path="/sitecore/system/Settings/Security/Profiles/Common" />
            <include name="Project.Common.SystemLanguages" database="master" path="/sitecore/system/Languages" />
            <include name="Project.Common.Media" database="master" path="/sitecore/media library/Project/Common" />
            <include name="Project.Common.BucketSettings" database="master" path="/sitecore/system/Settings/Buckets/Item Buckets Settings" />
            <!-- Version Trimming -->
            <include name="Project.Common.VersionTrimmingRules" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/Item Version Trim" />
            <include name="Project.Common.VersionTrimmingTags" database="master" path="/sitecore/system/Settings/Rules/Definitions/Tags/Item Version Trim" />
            <include name="Project.Common.ItemSavedRules" database="master" path="/sitecore/system/Settings/Rules/Item Saved/Rules" />
            <include name="Project.Common.ItemSavedTags" database="master" path="/sitecore/system/Settings/Rules/Item Saved/Tags/Default" />
          </predicate>
          <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="false" updateSearchIndex="true" maxConcurrency="1" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>