<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sc.variable name="rootHostName" value="helixbase" />
    <settings>
      <setting name="Analytics.CookieDomain" value="$(rootHostName)" />
      <setting name="Login.BackgroundImageUrl" value="login/Helixbase_Wallpaper.jpg" />
      <setting name="Login.DisableLicenseInfo" value="false" />
      <setting name="Preview.DefaultSite">
        <patch:attribute name="value" value="helixbase" />
      </setting>
    </settings>
    <events>
      <event name="publish:end">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site>
              <patch:delete />
            </site>
          </sites>
        </handler>
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site>
              <patch:delete />
            </site>
          </sites>
        </handler>
      </event>
    </events>
    <sites>
      <site name="website">
        <patch:delete />
      </site>
    </sites>
    <cacheSizes>
      <sites>
        <website>
          <patch:delete />
        </website>
      </sites>
    </cacheSizes>
  </sitecore>
</configuration>