<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Rules" description="Feature Rules" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Feature\Rules\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Feature.Rules.VersionTrimmingRules" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/Item Version Trim" />
            <include name="Feature.Rules.VersionTrimmingTags" database="master" path="/sitecore/system/Settings/Rules/Definitions/Tags/Item Version Trim" />
            <include name="Feature.Rules.ItemSavedRules" database="master" path="/sitecore/system/Settings/Rules/Item Saved/Rules" />
            <include name="Feature.Rules.ItemSavedTags" database="master" path="/sitecore/system/Settings/Rules/Item Saved/Tags/Versioning" />
          </predicate>
          <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>