name: ASP.NET CI
on: [push]
jobs:
  build:
    runs-on: windows-latest

    #NuGet restore
    steps:
    - uses: actions/checkout@master

    - name: Setup Nuget.exe
      uses: warrenbuckley/Setup-Nuget@v1
    
    - name: restore package
      run: dotnet restore Helixbase.sln

    - name: Nuget Restore
      run: nuget restore Helixbase.sln
      
      #MSBUILD
    - uses: actions/checkout@master

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.0.0

    - name: MSBuild
     #working-directory: src
      run: msbuild Helixbase.sln
